.cproject
.project
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
data/
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
test/person
test/Makefile
test/Makefile.in
*.o
*.so
*.lo
*.la
*.in
*.a
*.dylib
*.Plo
common/.deps/
common/.libs/
test/.deps/
test/.libs/
test/person_test
test/allocate_response_test
test/allocate_request_test
test/launch_request_test
test/launch_response_test
test/finish_request_test
test/finish_response_test
test/heartbeat_request_test
test/heartbeat_response_test
test/register_request_test
test/hnp_request_wrapper_test
test/register_response_test
