.cproject
.project
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
data/
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
test/person
test/Makefile
test/Makefile.in
*.o
*.so
*.lo
*.la
*.in
*.a
*.dylib
*.Plo
src/.deps/
test/.deps/
test/.libs/
test/person_test
test/allocate_response_test
test/allocate_request_test
